<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CDUKeypadVC</string>
	<key>title</key>
	<string>CDU Keypad</string>
	<key>subtitle</key>
	<string>To precisely match your aircraft configuration</string>
	<key>imageURL</key>
	<string>cdukeypad.png</string>
	<key>description</key>
	<string>Aimed at Professional pilots flying commercial jets. Designed so you are familiarized with the layout right from the beginning</string>
	<key>keys</key>
	<dict>
		<key>direct.png</key>
		<string>Direct to FIX</string>
		<key>hold-short.png</key>
		<string>Hold Short of...</string>
		<key>call.png</key>
		<string>Call, Report, Switch to my Frequency, Contact...</string>
		<key>holding.png</key>
		<string>Holding instructions</string>
		<key>cross.png</key>
		<string>Cross a FIX, a Runway...</string>
		<key>intc.png</key>
		<string>Intercept, join.</string>
		<key>up.png</key>
		<string>Direction Signs, very useful.</string>
	</dict>
</dict>
</plist>
