<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>QwertyKeypadVC</string>
	<key>title</key>
	<string>Qwerty Keypad</string>
	<key>subtitle</key>
	<string>A worldwide favourite.</string>
	<key>imageURL</key>
	<string>qwerty.png</string>
	<key>description</key>
	<string>It doesn&apos;t need an introduction. The worldwide favourite set of keys is now available when all you need is a comfortable way to write things down.</string>
	<key>keys</key>
	<dict>
		<key>direct.png</key>
		<string>Direct to FIX</string>
		<key>hold-short.png</key>
		<string>Hold Short of...</string>
		<key>call.png</key>
		<string>Call, Report, Switch to my Frequency, Contact...</string>
		<key>holding.png</key>
		<string>Holding instructions</string>
		<key>cross.png</key>
		<string>Cross a FIX, a Runway...</string>
		<key>intc.png</key>
		<string>Intercept, join.</string>
		<key>up.png</key>
		<string>Direction Signs, very useful.</string>
	</dict>
</dict>
</plist>
